
<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="alternate" type="application/atom+xml" title="Feed - FreeCAD Forum" href="/app.php/feed">		<link rel="alternate" type="application/atom+xml" title="Feed - All forums" href="/app.php/feed/forums">			<link rel="alternate" type="application/atom+xml" title="Feed - Forum - Tutorials and videos" href="/app.php/feed/forum/36">	<link rel="alternate" type="application/atom+xml" title="Feed - Topic - Guidelines for videos and tutorials" href="/app.php/feed/topic/36205">	
	<link rel="canonical" href="https://forum.freecad.org/viewtopic.php?t=36205">
<link href="../assets/css/cookiesconsent/cookieconsent.min.css" rel="stylesheet">
<link href="../styles/elegance/themes/stylesheet.css" rel="stylesheet">
<link href="./assets/cookieconsent/cookieconsent.min.css" rel="stylesheet">
<script></script><style type="text/css">
    .mention {
        color: #008ae6;
    }
</style>
<link href="./ext/paul999/mention/styles/all/theme/mention.css?assets_version=41" rel="stylesheet" media="screen">
<link href="./ext/wolfsblvt/advancedpolls/styles/prosilver/theme/advancedpolls.css?assets_version=41" rel="stylesheet" media="screen">
</head>
<script>
	function clearText(element) {
		if (element.innerText.trim() === 'Nhập tiêu đề' || element.innerText.trim() === 'Nhập nội dung') {
			element.innerText = '';
		}
	}

	function restoreText(element) {
		if (element.innerText.trim() === '') {
			if (element.classList.contains('first')) {
				element.innerText = 'Nhập tiêu đề';
			} else {
				element.innerText = 'Nhập nội dung';
			}
		}
	}
</script>
<body id="phpbb" class="nojs notouch section-viewtopic ltr " data-online-text="Online">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header" class="page-width">
		<div class="headerbar" role="banner">
					<div class="inner">

			<div id="site-description" class="site-description">
				<a id="logo" class="logo" href="./index.php" title="FreeCAD forum">
					<img src="./styles/elegance/theme/images/logo.png" data-src-hd="./styles/elegance/theme/images/logo_hd.png" alt="FreeCAD Forum"/>
				</a>
				<p class="sitename">FreeCAD Forum</p>
				<p>The help and development forum of FreeCAD</p>
				<p class="skiplink"><a href="#start_here">Skip to content</a></p>
			</div>

															<div id="search-box" class="search-box search-header" role="search">
				<form action="./search.php" method="get" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…" />
					<button class="button button-search" type="submit" title="Search">
						<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
					</button>
					<a href="./search.php" class="button button-search-end" title="Advanced search">
						<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">Advanced search</span>
					</a>
					
				</fieldset>
				</form>
			</div>
									
			</div>
					</div>
<div class="navbar tabbed not-static" role="navigation">
	<div class="inner page-width">
		<div class="nav-tabs" data-current-page="viewtopic">
			<ul class="leftside">
				<li id="quick-links" class="quick-links tab responsive-menu dropdown-container">
					<a href="#" class="nav-link dropdown-trigger">Quick links</a>
					<div class="dropdown">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul class="dropdown-contents" role="menu">
								
			<li class="separator"></li>
													<li>
								<a href="./search.php?search_id=unanswered" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>Unanswered topics</span>
								</a>
							</li>
							<li>
								<a href="./search.php?search_id=active_topics" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-blue" aria-hidden="true"></i><span>Active topics</span>
								</a>
							</li>
							<li class="separator"></li>
							<li>
								<a href="./search.php" role="menuitem">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i><span>Search</span>
								</a>
							</li>	
	
													</ul>
					</div>
				</li>
												<li class="tab forums selected" data-responsive-class="small-icon icon-forums">
					<a class="nav-link" href="./index.php">Forums</a>
				</li>
											</ul>
			<ul class="rightside" role="menu">
								<li class="tab faq" data-select-match="faq" data-responsive-class="small-icon icon-faq">
					<a class="nav-link" href="/app.php/help/faq" rel="help" title="Frequently Asked Questions" role="menuitem">
						<i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>FAQ</span>
					</a>
				</li>
																									<li class="tab login"  data-skip-responsive="true" data-select-match="login"><a class="nav-link" href="./ucp.php?mode=login&amp;redirect=viewtopic.php%3Ft%3D36205" title="Login" accesskey="x" role="menuitem">Login</a></li>
											<li class="tab register" data-skip-responsive="true" data-select-match="register"><a class="nav-link" href="./ucp.php?mode=register" role="menuitem">Register</a></li>
																	</ul>
		</div>
	</div>
</div>

<div class="navbar secondary">
	<ul role="menubar">
											<li class="small-icon icon-search"><a href="./search.php">Search</a></li>
														<li class="small-icon icon-login"><a href="./ucp.php?mode=login&amp;redirect=viewtopic.php%3Ft%3D36205" title="Login">Login</a></li>
									<li class="small-icon icon-register"><a href="./ucp.php?mode=register">Register</a></li>
									
			</ul>
</div>

	</div>

<div id="wrap" class="page-width">

	
	<a id="start_here" class="top-anchor"></a>
	<div id="page-body" class="page-body" role="main">
		<div class="navbar">
	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
				
		
		<li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

			
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="./index.php" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">FreeCAD forum</span></a><meta itemprop="position" content="1" /></span>

									
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope data-forum-id="7"><a itemprop="item" href="./viewforum.php?f=7"><span itemprop="name">Users</span></a><meta itemprop="position" content="2" /></span>
												
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope data-forum-id="36"><a itemprop="item" href="./viewforum.php?f=36"><span itemprop="name">Tutorials and videos</span></a><meta itemprop="position" content="3" /></span>
						
			
		</li>

		
		
			<li class="rightside responsive-search">
				<a href="./search.php" title="View the advanced search options" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
				</a>
			</li>
				<li class="rightside dropdown-container icon-only">
			<a href="#" class="dropdown-trigger time" title="It is currently Wed Dec 13, 2023 3:43 am"><i class="fa fa-clock-o"></i></a>
			<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
					<li>It is currently Wed Dec 13, 2023 3:43 am</li>
					<li>All times are <span title="UTC">UTC</span></li>
				</ul>
			</div>
		</li>
	</ul>
</div>
			<div id="p306531" class="post has-profile bg2">
		<div class="inner">
		<dl class="postprofile" id="profile306531">
			<dt class="has-profile-rank no-avatar">
				<div class="avatar-container">
																			</div>
								<a href="./memberlist.php?mode=viewprofile&amp;u=5646" style="color: #BF00BF;" class="username-coloured">chrisb</a>							</dt>
						<dd class="profile-rank">Veteran</dd>			
		<dd class="profile-posts"><strong>Posts:</strong> <a href="./search.php?author_id=5646&amp;sr=posts">52246</a></dd>		<dd class="profile-joined"><strong>Joined:</strong> Tue Mar 17, 2015 9:14 am</dd>		
		
						
						
		</dl>
<form class="postbody" action = "/post" method = "post">
    <div id="post_content306531">
        <h3 class="first" id="postName" name="postName" contenteditable="true" onclick="clearText(this)" onblur="restoreText(this)">
            Nhập tiêu đề
        </h3>
        <div class="content" id="postContent" name="postContent" contenteditable="true" onclick="clearText(this)" onblur="restoreText(this)">
            Nhập nội dung
        </div>
    </div>
	<div class="jumpbox dropdown-container dropdown-container-right dropdown-up dropdown-left dropdown-button-control">
		<button type = "submit" class="button button-secondary dropdown-trigger dropdown-select">
		  <span>Đăng bài</span>
		
		</button>
	</div>
</form>
</body>
</html>
