<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>UX/UI Design - FreeCAD Forum</title>
</head>

<body>
  <div>
    <div class="headerbar" role="banner">
      <div class="inner">
        <div id="site-description" class="site-description">
          <a id="logo" class="logo" href="./index.php" title="FreeCAD forum">
            <img src="..\styles\elegance\themes\images\logo.png" alt="FreeCAD Forum">
          </a>
          <p class="sitename">FreeCAD Forum</p>
          <p>The help and development forum of FreeCAD</p>
          <p class="skiplink"><a href="#start_here">Skip to content</a></p>
        </div>

        <div >
          <form>
            <fieldset>
              <input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…" />
              <button class="button button-search" type="submit" title="Search">
                <i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
              </button>
              <a href=" " class="button button-search-end" title="Advanced search">
                <i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">Advanced search</span>
              </a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
