<!-- views/question.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frequently Asked Questions</title>
  <!-- Add your CSS styles if needed -->
</head>
<body>
  <header>
    <h1>Frequently Asked Questions</h1>
  </header>

  <div class="faq-list" props = "faqs">
	  <!-- Render a list of FAQs -->
	  <% if (!faqs.length > 0) {%>
		<p>No FAQs available.</p>
	  <%} else{%> 
	  <% faqs.forEach(function(faq, index) { %>
		<section id="f<%= index %>">
		  <h2><%= faq.Question %></h2>
		  <p><%= faq.Answer %></p>
		</section>
	  <% }); }%>
  </div>
  

  <footer>
    <!-- Your footer content here -->
  </footer>
</body>
</html>
