
<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>FreeCAD Forum - FreeCAD forum</title>
<link rel="alternate" type="application/atom+xml" title="Feed - FreeCAD Forum" href="/app.php/feed">		<link rel="alternate" type="application/atom+xml" title="Feed - All forums" href="/app.php/feed/forums">					
<link href="../styles/elegance/themes/stylesheet.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-GLhlTQ8iJUqy4IxN7tN6twshN6/zZUJZQqFvE+9/RSJoZ+K2b2StqBQ1AB" crossorigin="anonymous">
<script></script><style type="text/css">
     .mention {
        color: #008ae6;
    }
	.navbar ul.rightside a {
    color: #ffffff;
    padding: 10px;
}
.navbar.secondary a img {
    width: 10px; /* Điều chỉnh chiều rộng của hình ảnh */
    height: 10px; /* Điều chỉnh chiều cao của hình ảnh */
    margin-right: 2px; /* Khoảng cách giữa hình ảnh và văn bản */
  }
.tab.faq img {
    margin-top: -5px;
  }Ư
	.navbar ul.rightside a {
    color: #ffffff; /* White text color */
    padding: 10px; /* Add padding for better spacing */
}	
    @media (max-width: 767px) {
        .responsive-hide {
            display: inline-block;
        }
		
    }
</style>
<script>
	function getPost(postId) {
	   console.log('Clicked post ID:', postId);
	   var form = document.createElement('form');
	   form.method = 'GET';
	   form.action = '/viewpost';
 
	   var hiddenPostIdInput = document.createElement("input");
	   hiddenPostIdInput.type = "hidden";
	   hiddenPostIdInput.name = "postid";
	   hiddenPostIdInput.value = postId;
 
	   form.appendChild(hiddenPostIdInput);
 
	   document.body.appendChild(form);
	   form.submit();
	}
 </script>
<style>
	.icon img {
	  width: 15px;
	  height: 15px;
	}
  </style>
<link rel="stylesheet" media="screen">
</head>
<body id="phpbb" class="nojs notouch section-index ltr " data-online-text="Online">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header" class="page-width">
		<div class="headerbar" role="banner">
					<div class="inner">
			<div id="site-description" class="site-description">
				<a id="logo" class="logo" href="./index.php" title="Ứng dụng trao đổi kinh nghiệm học tập">
					<img src="../styles/elegance/themes/images/uit.jpg" width="150" height="80"/>
				</a>
				<p class="sitename">Ứng dụng trao đổi kinh nghệm học tập</p>
				<p>Ứng dụng trao đổi kinh nghệm học tập</p>
				<p class="skiplink"><a href="#start_here">Bỏ qua</a></p>
			</div>
				    <div id="search-box" class="search-box search-header" role="search">
				<form action="./search.php" method="get" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…" />
					<button class="button button-search" type="submit" title="Search">
						<i class="icon">
						  <img src="../styles/elegance/themes/images/search.png" alt="Search Icon">
						</i><span class="sr-only">Search</span>
					  </button>
					  <a href="./search.php" class="button button-search-end" title="Advanced search">
						<i class="icon">
						  <img src="../styles/elegance/themes/images/ava-search.png" alt="Cog Icon">
						</i><span class="sr-only">Advanced search</span>
					  </a>
							  
				</fieldset>
				</form>
			</div>							
			</div>
					</div>
<div class="navbar tabbed not-static" role="navigation">
	<div class="inner page-width">
		<div class="nav-tabs" data-current-page="index">
			<ul class="leftside">
				<li id="quick-links" class="quick-links tab responsive-menu dropdown-container">		
				</ul>
			<ul class="rightside" >	
				<li class="tab faq">
					<a href="/question" rel="help" title="Question">
						<img src="../styles/elegance/themes/images/FAQ.png" alt="FAQ Icon" width="10" height="10"  /><span></span>
					</a>
				</li>
				
				<li class="tab faq">
					<a href="/logout" rel="help" title="Logout">
						<img src="../styles/elegance/themes/images/LOGOUT.png" alt="Logout Icon" width="10" height="10" /><span></span>
					</a>
				</li>
				
				<li class="tab faq">
					<a href="/notification" rel="help" title="Thông báo">
						<img src="../styles/elegance/themes/images/notification.png" alt="Notification Icon" width="10" height="10" /><span></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

	<div class="navbar secondary">
		<ul role="menubar">
			<li><a href="/search">Search</a></li>
			<li><a href="/login" title="Login">Login</a></li>
			<li><a href="/register">Register</a></li>
			<li class="tab login"  data-skip-responsive="true" data-select-match="login"><a class="nav-link" href="/question" title="question" accesskey="x" role="menuitem">Login</a></li>
			<li class="tab register" data-skip-responsive="true" data-select-match="register"><a class="nav-link" href="/addFAQs" role="menuitem">Register</a></li>			
				</ul>
	</div>

		</div>

	<div id="wrap" class="page-width">

		
		<a id="start_here" class="top-anchor"></a>
		<div id="page-body" class="page-body" role="main">
			<div class="navbar">
		<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">			
			<li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">				
							<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="/home" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">Ứng dụng trao đổi kinh nghiệm học tập</span></a><meta itemprop="position" content="1" /></span>		
			</li>	
			<li class="rightside responsive-search">
				<a href="./search.php" title="View the advanced search options" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
				</a>
			</li>
	</ul>
</div>
				<div class="forabg category-7 elegant" data-hide-description="1">
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
										<dl class="row-item">
						<dt><div class="list-inner"><a data-id="7">Hỏi đáp</a></div></dt>
					</dl>
						</li>
			</ul>
<form id="postForm" action="/viewpost" method="get">
	<ul class="topiclist forums">
	  <dl class="faq" props="posts">
		<% if (!posts.length > 0) { %>
		  <p>No FAQs available.</p>
		<% } else { %>
		  <% posts.forEach(function (post, index) { %>
			<%var date = post.PostDate.getDate()+'-'+(post.PostDate.getMonth()+1)+'-'+post.PostDate.getFullYear();
			var time = post.PostDate.getHours() + ":" + post.PostDate.getMinutes() + ":" + post.PostDate.getSeconds();%>
			<li class="row forum-3">
			  <div class="post-id" data-postid="<%= post._id %>"></div>
			  <dl class="row-item forum_read elegant-row">
				<dt title="No unread posts">
				  <div class="list-inner">
					<a class="forumtitle" onclick="getPost('<%= post._id %>')"><%= post.PostName %></a>
					<div class="forum-statistics">
					  bởi <a href="./memberlist.php?mode=viewprofile&amp;u=57799" class="username">Muhjeepstuff</a>
					  <br>
					  <span class="dfn">Vào ngày</span>: <span class="value"><%= date%></span><span class="dfn">Vào lúc</span>: <span class="value"><%= time%></span>
					</div>
				  </div>
				</dt>
			  </dl>
			</li>
		  <% }); %>
		<% } %>
	  </dl>
	</ul>
  </form>
  <a href="/addPost" class="button" title="Add a new post">
    <span>Add Post</span> <i class="icon fa-plus fa-fw" aria-hidden="true"></i>
</a>
  <div class="pagination">
	<% if (currentPage > 1) { %>
	  <a href="/userhome?page=<%= currentPage - 1 %>">Trang trước</a>
	<% } %>
	<span>Trang <%= currentPage %></span>
  
	<a href="/userhome?page=<%= currentPage + 1 %>">Trang sau</a>
  </div>
		
				<div class="forabg category-6 elegant" data-hide-description="1">
		
				<div class="forabg category-11 elegant" data-hide-description="1">
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
										<dl class="row-item">
						<dt><div class="list-inner"><a href="./viewforum.php?f=11" data-id="11">Tài liệu học tập</a></div></dt>
												<dd class="lastpost"><span>Gần nhất</span></dd>
					</dl>
									</li>
			</ul>
			<ul class="topiclist forums">	
					<li class="row forum-12">
									<dl class="row-item forum_read elegant-row">
				<dt title="No unread posts">
										<div class="list-inner">
											<a href="./viewforum.php?f=12" class="forumtitle" data-id="12">Tài liệu học tập</a>
						<div class="forum-description">Nơi lưu trữ tài liệu học tập</div>													<div class="forum-statistics">
					<span class="dfn">Chủ đề</span>: <span class="value">4652</span><span class="comma">, </span>
					<span class="dfn">Chủ đề</span>: <span class="value">47108</span>
				</div>
						<div class="forum-lastpost" style="display: none;">
								<span><strong>Gần nhất:</strong> <a href="./viewtopic.php?p=724710#p724710" title="Re: division d'une arête pour travailler avec additive pipe OU Gordon + lien avec les esquisses" class="lastsubject">Re: division d'une arête pour…</a></span>
								<span>by <a href="./memberlist.php?mode=viewprofile&amp;u=47904" class="username">Ribo</a>, Sun Dec 10, 2023 4:41 pm</span>
							</div>
																		</div>
				</dt>
														<dd class="lastpost">
						<span>
															<dfn>Gần nhất</dfn>
																	   <a href="./viewtopic.php?p=724710#p724710" title="Re: division d'une arête pour travailler avec additive pipe OU Gordon + lien avec les esquisses" class="lastsubject">Re: division d'une arête pour…</a> <br />
																	by <a href="./memberlist.php?mode=viewprofile&amp;u=47904" class="username">Ribo</a>																	<a href="./viewtopic.php?p=724710#p724710" title="View the latest post">
										<i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
									</a>
																<br /><time datetime="2023-12-10T16:41:12+00:00">Sun Dec 10, 2023 4:41 pm</time>
													</span>
					</dd>
							</dl>
					</li>
				</ul>
			</div>
		</div>
			</div>
	<div class="navbar" role="navigation">
</div>
</div>
</body>
</html>
