
<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Guidelines for videos and tutorials - FreeCAD Forum</title>
	<link rel="alternate" type="application/atom+xml" title="Feed - FreeCAD Forum" href="/app.php/feed">		<link rel="alternate" type="application/atom+xml" title="Feed - All forums" href="/app.php/feed/forums">			<link rel="alternate" type="application/atom+xml" title="Feed - Forum - Tutorials and videos" href="/app.php/feed/forum/36">	<link rel="alternate" type="application/atom+xml" title="Feed - Topic - Guidelines for videos and tutorials" href="/app.php/feed/topic/36205">	
	<link rel="canonical" href="https://forum.freecad.org/viewtopic.php?t=36205">
<link href="../assets/css/cookiesconsent/cookieconsent.min.css" rel="stylesheet">
<link href="../styles/elegance/themes/stylesheet.css" rel="stylesheet">
<link href="./assets/cookieconsent/cookieconsent.min.css" rel="stylesheet">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ed3fyPkYQThoS-oHhdLDfFd4oEUeAIaL__StE_dWC0Os8J7wHHfVFQOLTDJiPTsAhGqHoTc3Zj6ROP5zfZg2Sl-yvYAVt7f96U_VzvUKMME" charset="UTF-8"></script><style type="text/css">
    .mention {
        color: #008ae6;
    }
</style>
<link href="./ext/paul999/mention/styles/all/theme/mention.css?assets_version=41" rel="stylesheet" media="screen">
<link href="./ext/wolfsblvt/advancedpolls/styles/prosilver/theme/advancedpolls.css?assets_version=41" rel="stylesheet" media="screen">
</head>
<body id="phpbb" class="nojs notouch section-viewtopic ltr " data-online-text="Online">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header" class="page-width">
		<div class="headerbar" role="banner">
					<div class="inner">

			<div id="site-description" class="site-description">
				<a id="logo" class="logo" href="./index.php" title="FreeCAD forum">
					<img src="./styles/elegance/theme/images/logo.png" data-src-hd="./styles/elegance/theme/images/logo_hd.png" alt="FreeCAD Forum"/>
				</a>
				<p class="sitename">FreeCAD Forum</p>
				<p>The help and development forum of FreeCAD</p>
				<p class="skiplink"><a href="#start_here">Skip to content</a></p>
			</div>

															<div id="search-box" class="search-box search-header" role="search">
				<form action="./search.php" method="get" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…" />
					<button class="button button-search" type="submit" title="Search">
						<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
					</button>
					<a href="./search.php" class="button button-search-end" title="Advanced search">
						<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">Advanced search</span>
					</a>
					
				</fieldset>
				</form>
			</div>
									
			</div>
					</div>
<div class="navbar tabbed not-static" role="navigation">
	<div class="inner page-width">
		<div class="nav-tabs" data-current-page="viewtopic">
			<ul class="leftside">
				<li id="quick-links" class="quick-links tab responsive-menu dropdown-container">
					<a href="#" class="nav-link dropdown-trigger">Quick links</a>
					<div class="dropdown">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul class="dropdown-contents" role="menu">
								
			<li class="separator"></li>
													<li>
								<a href="./search.php?search_id=unanswered" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>Unanswered topics</span>
								</a>
							</li>
							<li>
								<a href="./search.php?search_id=active_topics" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-blue" aria-hidden="true"></i><span>Active topics</span>
								</a>
							</li>
							<li class="separator"></li>
							<li>
								<a href="./search.php" role="menuitem">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i><span>Search</span>
								</a>
							</li>	
	
													</ul>
					</div>
				</li>
												<li class="tab forums selected" data-responsive-class="small-icon icon-forums">
					<a class="nav-link" href="./index.php">Forums</a>
				</li>
											</ul>
			<ul class="rightside" role="menu">
								<li class="tab faq" data-select-match="faq" data-responsive-class="small-icon icon-faq">
					<a class="nav-link" href="/app.php/help/faq" rel="help" title="Frequently Asked Questions" role="menuitem">
						<i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>FAQ</span>
					</a>
				</li>
																									<li class="tab login"  data-skip-responsive="true" data-select-match="login"><a class="nav-link" href="./ucp.php?mode=login&amp;redirect=viewtopic.php%3Ft%3D36205" title="Login" accesskey="x" role="menuitem">Login</a></li>
											<li class="tab register" data-skip-responsive="true" data-select-match="register"><a class="nav-link" href="./ucp.php?mode=register" role="menuitem">Register</a></li>
																	</ul>
		</div>
	</div>
</div>

<div class="navbar secondary">
	<ul role="menubar">
											<li class="small-icon icon-search"><a href="./search.php">Search</a></li>
														<li class="small-icon icon-login"><a href="./ucp.php?mode=login&amp;redirect=viewtopic.php%3Ft%3D36205" title="Login">Login</a></li>
									<li class="small-icon icon-register"><a href="./ucp.php?mode=register">Register</a></li>
									
			</ul>
</div>

	</div>

<div id="wrap" class="page-width">

	
	<a id="start_here" class="top-anchor"></a>
	<div id="page-body" class="page-body" role="main">
		<div class="navbar">
	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
				
		
		<li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

			
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="./index.php" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">FreeCAD forum</span></a><meta itemprop="position" content="1" /></span>

									
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope data-forum-id="7"><a itemprop="item" href="./viewforum.php?f=7"><span itemprop="name">Users</span></a><meta itemprop="position" content="2" /></span>
												
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope data-forum-id="36"><a itemprop="item" href="./viewforum.php?f=36"><span itemprop="name">Tutorials and videos</span></a><meta itemprop="position" content="3" /></span>
						
			
		</li>

		
		
			<li class="rightside responsive-search">
				<a href="./search.php" title="View the advanced search options" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
				</a>
			</li>
				<li class="rightside dropdown-container icon-only">
			<a href="#" class="dropdown-trigger time" title="It is currently Wed Dec 13, 2023 3:43 am"><i class="fa fa-clock-o"></i></a>
			<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
					<li>It is currently Wed Dec 13, 2023 3:43 am</li>
					<li>All times are <span title="UTC">UTC</span></li>
				</ul>
			</div>
		</li>
	</ul>
</div>

		
		
<h2 class="topic-title"><a href="./viewtopic.php?t=36205">Guidelines for videos and tutorials</a></h2>
<!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body -->
<div style="display: none !important;">A place to share learning material: written tutorials, videos, etc.<br /></div>


<div class="action-bar bar-top">
	
			<a href="./posting.php?mode=reply&amp;t=36205" class="button" title="Post a reply">
							<span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
					</a>
	
			<div class="dropdown-container dropdown-button-control topic-tools">
		<span title="Topic tools" class="button button-secondary dropdown-trigger dropdown-select">
			<i class="icon fa-wrench fa-fw" aria-hidden="true"></i>
			<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
		</span>
		<div class="dropdown">
			<div class="pointer"><div class="pointer-inner"></div></div>
			<ul class="dropdown-contents">
																												<li>
					<a href="./viewtopic.php?t=36205&amp;view=print" title="Print view" accesskey="p">
						<i class="icon fa-print fa-fw" aria-hidden="true"></i><span>Print view</span>
					</a>
				</li>
											</ul>
		</div>
	</div>
	
			<div class="search-box" role="search">
			<form method="get" id="topic-search" action="./search.php">
			<fieldset>
				<input class="inputbox search tiny"  type="search" name="keywords" id="search_keywords" size="20" placeholder="Search this topic…" />
				<button class="button button-search" type="submit" title="Search">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
				</button>
				<a href="./search.php" class="button button-search-end" title="Advanced search">
					<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">Advanced search</span>
				</a>
				<input type="hidden" name="t" value="36205" />
<input type="hidden" name="sf" value="msgonly" />

			</fieldset>
			</form>
		</div>
	
			<div class="pagination">
			21 posts
							<ul>
		<li class="active"><span>1</span></li>
				<li><a class="button" href="./viewtopic.php?t=36205&amp;start=10" role="button">2</a></li>
				<li><a class="button" href="./viewtopic.php?t=36205&amp;start=20" role="button">3</a></li>
				<li class="arrow next"><a class="button button-icon-only" href="./viewtopic.php?t=36205&amp;start=10" rel="next" role="button"><i class="icon fa-chevron-right fa-fw" aria-hidden="true"></i><span class="sr-only">Next</span></a></li>
	</ul>
					</div>
		</div>




			<div id="p306531" class="post has-profile bg2">
		<div class="inner">

		<dl class="postprofile" id="profile306531">
			<dt class="has-profile-rank no-avatar">
				<div class="avatar-container">
																			</div>
								<a href="./memberlist.php?mode=viewprofile&amp;u=5646" style="color: #BF00BF;" class="username-coloured">chrisb</a>							</dt>

						<dd class="profile-rank">Veteran</dd>			
		<dd class="profile-posts"><strong>Posts:</strong> <a href="./search.php?author_id=5646&amp;sr=posts">52246</a></dd>		<dd class="profile-joined"><strong>Joined:</strong> Tue Mar 17, 2015 9:14 am</dd>		
		
						
						
		</dl>

		<div class="postbody">
						<div id="post_content306531">

						<h3 class="first">
						<a href="./viewtopic.php?p=306531#p306531">Guidelines for videos and tutorials</a>
			</h3>

													<ul class="post-buttons">
																																									<li>
							<a href="./posting.php?mode=quote&amp;p=306531" title="Reply with quote" class="button button-icon-only">
								<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
							</a>
						</li>
														</ul>
							
						<p class="author">
									<a class="unread" href="./viewtopic.php?p=306531#p306531" title="Post">
						<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
					</a>
								<span class="responsive-hide">by <strong><a href="./memberlist.php?mode=viewprofile&amp;u=5646" style="color: #BF00BF;" class="username-coloured">chrisb</a></strong> &raquo; </span><time datetime="2019-05-08T07:16:20+00:00">Wed May 08, 2019 7:16 am</time>
			</p>
			
			
			
			<div class="content">I would like to create a sticky topic in this subforum with some guidelines. Please add (and discuss) further proposals for some general rules, which can be compiled in such a topic.<br>
<br>
My first suggestion is
<ul><li><strong class="text-strong">Mention the FreeCAD version used</strong><br>
<br>
Every tutorial should start with clearly stating for which version it was made. Video tutorials should state it in the description or at least within the first 15 seconds.</li>
</ul></div>									
									<div id="sig306531" class="signature">A <a href="https://owncloud.gwdg.de/index.php/s/eZisrfTTCCjDEd9/download" class="postlink">Sketcher Lecture</a> with in-depth information is available in <a href="https://owncloud.gwdg.de/index.php/s/eZisrfTTCCjDEd9/download" class="postlink">English</a>, <a href="https://owncloud.gwdg.de/index.php/s/p2TZ4VkZs6A3y3B/download" class="postlink">auf Deutsch</a>, <a href="https://owncloud.gwdg.de/index.php/s/GsBboIPho3XAs9h/download" class="postlink">en français</a>, <a href="https://owncloud.gwdg.de/index.php/s/UEm16Se35tvb5rd/download" class="postlink">en español</a>.</div>
						</div>

		</div>

		</div>
				<div class="back2top">
						<a href="#top" class="top" title="Top">
				<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
				<span class="sr-only">Top</span>
			</a>
					</div>
			</div>

				<div id="p306733" class="post has-profile bg1">
		<div class="inner">

	

	<div class="action-bar bar-bottom">
	
			<a href="./posting.php?mode=reply&amp;t=36205" class="button" title="Post a reply">
							<span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
					</a>
		
		<div class="dropdown-container dropdown-button-control topic-tools">
		<span title="Topic tools" class="button button-secondary dropdown-trigger dropdown-select">
			<i class="icon fa-wrench fa-fw" aria-hidden="true"></i>
			<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
		</span>
		<div class="dropdown">
			<div class="pointer"><div class="pointer-inner"></div></div>
			<ul class="dropdown-contents">
																												<li>
					<a href="./viewtopic.php?t=36205&amp;view=print" title="Print view" accesskey="p">
						<i class="icon fa-print fa-fw" aria-hidden="true"></i><span>Print view</span>
					</a>
				</li>
											</ul>
		</div>
	</div>

			<form method="post" action="./viewtopic.php?t=36205">
		<div class="dropdown-container dropdown-container-left dropdown-button-control sort-tools">
	<span title="Display and sorting options" class="button button-secondary dropdown-trigger dropdown-select">
		<i class="icon fa-sort-amount-asc fa-fw" aria-hidden="true"></i>
		<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
	</span>
	<div class="dropdown hidden">
		<div class="pointer"><div class="pointer-inner"></div></div>
		<div class="dropdown-contents">
			<fieldset class="display-options">
							<label>Display: <select name="st" id="st"><option value="0" selected="selected">All posts</option><option value="1">1 day</option><option value="7">7 days</option><option value="14">2 weeks</option><option value="30">1 month</option><option value="90">3 months</option><option value="180">6 months</option><option value="365">1 year</option></select></label>
								<label>Sort by: <select name="sk" id="sk"><option value="a">Author</option><option value="t" selected="selected">Post time</option><option value="s">Subject</option></select></label>
				<label>Direction: <select name="sd" id="sd"><option value="a" selected="selected">Ascending</option><option value="d">Descending</option></select></label>
								<hr class="dashed" />
				<input type="submit" class="button2" name="sort" value="Go" />
						</fieldset>
		</div>
	</div>
</div>
		</form>
	
	
	
			<div class="pagination">
			21 posts
							<ul>
		<li class="active"><span>1</span></li>
				<li><a class="button" href="./viewtopic.php?t=36205&amp;start=10" role="button">2</a></li>
				<li><a class="button" href="./viewtopic.php?t=36205&amp;start=20" role="button">3</a></li>
				<li class="arrow next"><a class="button button-icon-only" href="./viewtopic.php?t=36205&amp;start=10" rel="next" role="button"><i class="icon fa-chevron-right fa-fw" aria-hidden="true"></i><span class="sr-only">Next</span></a></li>
	</ul>
					</div>
	</div>


<div class="action-bar actions-jump">
		<p class="jumpbox-return">
		<a href="./viewforum.php?f=36" class="left-box arrow-left" accesskey="r">
			<i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>Return to “Tutorials and videos”</span>
		</a>
	</p>
	
		<div class="jumpbox dropdown-container dropdown-container-right dropdown-up dropdown-left dropdown-button-control" id="jumpbox">
			<span title="Jump to" class="button button-secondary dropdown-trigger dropdown-select">
				<span>Jump to</span>
				<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
			</span>
		<div class="dropdown">
			<div class="pointer"><div class="pointer-inner"></div></div>
			<ul class="dropdown-contents">
																				<li><a href="./viewforum.php?f=7" class="jumpbox-cat-link"> <span> Users</span></a></li>
																<li><a href="./viewforum.php?f=3" class="jumpbox-sub-link"><span class="spacer"></span> <span>&#8627; &nbsp; Help on using FreeCAD</span></a></li>
																<li><a href="./viewforum.php?f=22" class="jumpbox-sub-link"><span class="spacer"></span> <span>&#8627; &nbsp; Python scripting and macros</span></a></li>																
											</ul>
		</div>
	</div>
	</div>
			</div>
</div>
</div>
</body>
</html>
