
<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Guidelines for videos and tutorials - FreeCAD Forum</title>
	<link rel="alternate" type="application/atom+xml" title="Feed - FreeCAD Forum" href="/app.php/feed">		<link rel="alternate" type="application/atom+xml" title="Feed - All forums" href="/app.php/feed/forums">			<link rel="alternate" type="application/atom+xml" title="Feed - Forum - Tutorials and videos" href="/app.php/feed/forum/36">	<link rel="alternate" type="application/atom+xml" title="Feed - Topic - Guidelines for videos and tutorials" href="/app.php/feed/topic/36205">	
	<link rel="canonical" href="https://forum.freecad.org/viewtopic.php?t=36205">
<link href="../assets/css/cookiesconsent/cookieconsent.min.css" rel="stylesheet">
<link href="../styles/elegance/themes/stylesheet.css" rel="stylesheet">
<link href="./assets/cookieconsent/cookieconsent.min.css" rel="stylesheet">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ed3fyPkYQThoS-oHhdLDfFd4oEUeAIaL__StE_dWC0Os8J7wHHfVFQOLTDJiPTsAhGqHoTc3Zj6ROP5zfZg2Sl-yvYAVt7f96U_VzvUKMME" charset="UTF-8"></script><style type="text/css">
    .mention {
        color: #008ae6;
    }
	.navbar ul.rightside a {
    color: #ffffff; /* White text color */
    padding: 10px; /* Add padding for better spacing */
}

/* Background color for the FAQs and Register links */

	
    @media (max-width: 767px) {
        .responsive-hide {
            display: inline-block;
        }
		
    }
</style>
<link href="./ext/paul999/mention/styles/all/theme/mention.css?assets_version=41" rel="stylesheet" media="screen">
<link href="./ext/wolfsblvt/advancedpolls/styles/prosilver/theme/advancedpolls.css?assets_version=41" rel="stylesheet" media="screen">
</head>
<body id="phpbb" class="nojs notouch section-index ltr " data-online-text="Online">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header" class="page-width">
		<div class="headerbar" role="banner">
					<div class="inner">
			<div id="site-description" class="site-description">
				<a id="logo" class="logo" href="./index.php" title="Ứng dụng trao đổi kinh nghiệm học tập">
					<img src="../styles/elegance/themes/images/uit.jpg" width="150" height="80"/>
				</a>
				<p class="sitename">Ứng dụng trao đổi kinh nghệm học tập</p>
				<p>Ứng dụng trao đổi kinh nghệm học tập</p>
				<p class="skiplink"><a href="#start_here">Bỏ qua</a></p>
			</div>
				    <div id="search-box" class="search-box search-header" role="search">
				<form action="./search.php" method="get" id="search">
				</form>
			</div>							
			</div>
					</div>
<div class="navbar tabbed not-static" role="navigation">
	<div class="inner page-width">
		<div class="nav-tabs" data-current-page="index">
			<ul class="leftside">
				<li id="quick-links" class="quick-links tab responsive-menu dropdown-container">
					
					
				</ul>
			<ul class="rightside" >	
			</ul>
		</div>
	</div>
</div>

	<div class="navbar secondary">
		<ul role="menubar">
			<li><a href="/search">Search</a></li>
			<li><a href="/login" title="Login">Login</a></li>
			<li><a href="/register">Register</a></li>
			<li class="tab login"  data-skip-responsive="true" data-select-match="login"><a class="nav-link" href="/question" title="question" accesskey="x" role="menuitem">FAQs</a></li>
			<li class="tab register" data-skip-responsive="true" data-select-match="register"><a class="nav-link" href="/addFAQs" role="menuitem">Add FAQ</a></li>			
				</ul>
	</div>

		</div>


<div id="wrap" class="page-width">

	
	<a id="start_here" class="top-anchor"></a>
	<div id="page-body" class="page-body" role="main">
		<div class="navbar">
	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
				
		
		<li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

			
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="./index.php" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">FreeCAD forum</span></a><meta itemprop="position" content="1" /></span>		
		</li>	
			<li class="rightside responsive-search">
				<a href="./search.php" title="View the advanced search options" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
				</a>
			</li>
				<li class="rightside dropdown-container icon-only">
			<a href="#" class="dropdown-trigger time" title="It is currently Wed Dec 13, 2023 3:43 am"><i class="fa fa-clock-o"></i></a>
			<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
					<li>It is currently Wed Dec 13, 2023 3:43 am</li>
					<li>All times are <span title="UTC">UTC</span></li>
				</ul>
			</div>
		</li>
	</ul>
</div>
<div class="action-bar bar-top">
	
			<a href="./posting.php?mode=reply&amp;t=36205" class="button" title="Post a reply">
							<span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
					</a>	
			<div class="dropdown-container dropdown-button-control topic-tools">
		</div>
	</div>
		</div>
			<div id="p306531" class="post has-profile bg2">
		<div class="inner">

		<dl class="postprofile" id="profile306531">
			<dt class="has-profile-rank no-avatar">
				<div class="avatar-container">
																			</div>
								<a href="./memberlist.php?mode=viewprofile&amp;u=5646" style="color: #BF00BF;" class="username-coloured">chrisb</a>							</dt>

						<dd class="profile-rank">Veteran</dd>			
		<dd class="profile-posts"><strong>Posts:</strong> <a href="./search.php?author_id=5646&amp;sr=posts">52246</a></dd>		<dd class="profile-joined"><strong>Joined:</strong> Tue Mar 17, 2015 9:14 am</dd>		
		
						
						
		</dl>

		<div class="postbody" props="post">
			<%var date = post.PostDate.getDate()+'-'+(post.PostDate.getMonth()+1)+'-'+post.PostDate.getFullYear();
			var time = post.PostDate.getHours() + ":" + post.PostDate.getMinutes() + ":" + post.PostDate.getSeconds();%>
			<div id="post_content306531">
				<h3 class="first">
					<%=post.PostName%>
				</h3>
				<ul class="post-buttons">
					<a href="./posting.php?mode=quote&amp;p=306531" title="Reply with quote" class="button button-icon-only">
						<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
					</a>
				</ul>
				<p class="author">
					<a class="unread" href="./viewtopic.php?p=306531#p306531" title="Post">
					<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
					</a>
					<span class="responsive-hide">bởi <strong><a href="./memberlist.php?mode=viewprofile&amp;u=5646" style="color: #BF00BF;" class="username-coloured">chrisb</a></strong> &raquo; </span><time>Vào lúc <%=time%> ngày <%=date%></time>
				</p>
				<div class="content"><%=post.PostContent%><br></div>
			</div>
		</div>
		
		</div>
		
<h4>Comments:</h4>
<ul>
  <% if (post && post.comments) { %>
    <% post.comments.forEach(comment => { %>
      <li>
        <div class="post has-profile bg2">
          <div class="inner">
            <dl class="postprofile" id="profile<%= comment.UserId %>">
              <!-- Add your user profile details here -->
              <dt class="has-profile-rank no-avatar">
                <!-- Add user avatar and rank details here -->
              </dt>
              <dd class="profile-rank"><strong>Role:</strong> <%= comment.UserRole %></dd>
              <dd class="profile-posts"><strong>Posts:</strong> <%= comment.UserPosts %></dd>
              <!-- Add more user details as needed -->
            </dl>

            <div class="postbody" props="comment">
              <div id="comment_content<%= comment.CommentId %>">
                <h3 class="first">
                  <%= comment.CommentTitle %>
                </h3>
                <ul class="post-buttons">
                  <!-- Add buttons or actions for comments as needed -->
                </ul>
                <p class="author">
                  <a class="unread" href="./viewtopic.php?p=<%= comment.CommentId %>">
                    <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Comment</span>
                  </a>
                  <span class="responsive-hide">by <strong><a href="./memberlist.php?mode=viewprofile&amp;u=<%= comment.UserId %>" style="color: #BF00BF;" class="username-coloured"><%= comment.UserName %></a></strong> &raquo; </span>
                  <time>On <%= comment.CmtDate %></time>
                </p>
                <div class="content"><%= comment.CmtContent %><br></div>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% }); %>
  <% } else { %>
    <li>No comments available.</li>
  <% } %>
</ul>

<!-- Form comment -->
<form id="commentForm">
  <h4>Add a Comment:</h4>
  <label for="commentTitle">Title:</label>
  <input type="text" id="commentTitle" name="commentTitle" required>

  <label for="commentContent">Content:</label>
  <textarea id="commentContent" name="commentContent" required></textarea>

  <button type="button" onclick="submitComment()">OK</button>
</form>
		
		




				<div id="p306733" class="post has-profile bg1">
			<div class="inner">
			<div class="action-bar bar-bottom">
			<a href="./posting.php?mode=reply&amp;t=36205" class="button" title="Post a reply">
							<span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
					</a>
	</div>
			</div>
</div>
</div>
</body>
</html>
