
<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>FreeCAD Forum - FreeCAD forum</title>
<link rel="alternate" type="application/atom+xml" title="Feed - FreeCAD Forum" href="/app.php/feed">		<link rel="alternate" type="application/atom+xml" title="Feed - All forums" href="/app.php/feed/forums">					
<link href="../styles/elegance/themes/stylesheet.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-GLhlTQ8iJUqy4IxN7tN6twshN6/zZUJZQqFvE+9/RSJoZ+K2b2StqBQ1AB" crossorigin="anonymous">
<script></script><style type="text/css">
     .mention {
        color: #008ae6;
    }
	.navbar ul.rightside a {
    color: #ffffff;
    padding: 10px;
}
.reply-container {
  margin: 20px auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: flex-end;
}

#reply-form {
  width: 100%;
  box-sizing: border-box;
   text-align: right;
}

#reply-content {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 15px;
}

button[type="submit"] {
  background-color: #005a9e;;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #005a9e;
}
.navbar.secondary a img {
    width: 10px; 
    height: 10px; 
    margin-right: 2px; 
  }
.tab.faq img {
    margin-top: -5px;
  }Ư
	.navbar ul.rightside a {
    color: #ffffff; 
    padding: 10px;
}	
    @media (max-width: 767px) {
        .responsive-hide {
            display: inline-block;
        }
		
    }
</style>
<script>
	function getPost(postId) {
	   console.log('Clicked post ID:', postId);
	   var form = document.createElement('form');
	   form.method = 'GET';
	   form.action = '/addcomment';
 
	   var hiddenPostIdInput = document.createElement("input");
	   hiddenPostIdInput.type = "hidden";
	   hiddenPostIdInput.name = "postid";
	   hiddenPostIdInput.value = postId;
	   form.appendChild(hiddenPostIdInput);
	   document.body.appendChild(form);
	   form.submit();
	}
 </script>
 <script>
    function likePost() {
        // Add your logic for handling a like here
        alert('Liked!');
    }

    function dislikePost() {
        // Add your logic for handling a dislike here
        alert('Disliked!');
    }
</script>
<style>
	.icon img {
	  width: 15px;
	  height: 15px;
	}
  </style>
<link rel="stylesheet" media="screen">
</head>
<body id="phpbb" class="nojs notouch section-index ltr " data-online-text="Online">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header" class="page-width">
		<div class="headerbar" role="banner">
					<div class="inner">
			<div id="site-description" class="site-description">
				<a id="logo" class="logo" href="./index.php" title="Ứng dụng trao đổi kinh nghiệm học tập">
					<img src="../styles/elegance/themes/images/uit.jpg" width="150" height="80"/>
				</a>
				<p class="sitename">Ứng dụng trao đổi kinh nghệm học tập</p>
				<p>Ứng dụng trao đổi kinh nghệm học tập</p>
				<p class="skiplink"><a href="#start_here">Bỏ qua</a></p>
			</div>
				    <div id="search-box" class="search-box search-header" role="search">
				<form action="./search.php" method="get" id="search">
				<fieldset>
						  
				</fieldset>
				</form>
				
			</div>							
			</div>
					</div>
<div class="navbar tabbed not-static" role="navigation">
	<div class="inner page-width">
		<div class="nav-tabs" data-current-page="index">
			<ul class="leftside">
				<li id="quick-links" class="quick-links tab responsive-menu dropdown-container">		
				</ul>
			<ul class="rightside" >	
				<li class="tab faq">
					<a href="/question" rel="help" title="Question">
						<img src="../styles/elegance/themes/images/FAQ.png" alt="FAQ Icon" width="10" height="10"  /><span></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
	<div class="navbar secondary">
		<ul role="menubar">
			<li><a href="/search"><img src="../styles/elegance/themes/images/search.png" alt="Search">Search</a></li>
			<li><a href="/login" title="Login"><img src="../styles/elegance/themes/images/user.png" alt="Login">Login</a></li>
			<li><a href="/register"><img src="../styles/elegance/themes/images/register.png" alt="Register">Register</a></li>
				</ul>
	</div>

		</div>
<div id="wrap" class="page-width">
	<a id="start_here" class="top-anchor"></a>
	<div id="page-body" class="page-body" role="main">
		<div class="navbar">
	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">	
		<li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">		
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="./index.php" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">FreeCAD forum</span></a><meta itemprop="position" content="1" /></span>		
		</li>	
			<li class="rightside responsive-search">
				<a href="./search.php" title="View the advanced search options" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
				</a>
			</li>
				<li class="rightside dropdown-container icon-only">
			<a href="#" class="dropdown-trigger time" title="It is currently Wed Dec 13, 2023 3:43 am"><i class="fa fa-clock-o"></i></a>
			<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
					<li>It is currently Wed Dec 13, 2023 3:43 am</li>
					<li>All times are <span title="UTC">UTC</span></li>
				</ul>
			</div>
		</li>
	</ul>
</div>
<div class="action-bar bar-top">
			<div class="dropdown-container dropdown-button-control topic-tools">
		</div>
	</div>
		</div>
			<div id="p306531" class="post has-profile bg2">
		<div class="inner" props="account, post, amount">

		<dl class="postprofile" id="profile306531">
			<dt class="has-profile-rank no-avatar">
				<div class="avatar-container">
					<img src="<%=account.ImageURL%>" alt="Avatar" class="avatar-container"/>
				</div>
					<a href="./viewprofile" style="color: #BF00BF;" class="username-coloured"><%=account.Username%></a>							
			</dt>
		<dd class="profile-rank">Veteran</dd>			
		<dd class="profile-posts"><strong>Posts:</strong><%=amount%></dd>		<dd class="profile-joined"><strong>Joined:</strong> Tue Mar 17, 2015 9:14 am</dd>						
		</dl>
		<div class="postbody">
			<%var date = post.PostDate.getDate()+'-'+(post.PostDate.getMonth()+1)+'-'+post.PostDate.getFullYear();
			var time = post.PostDate.getHours() + ":" + post.PostDate.getMinutes() + ":" + post.PostDate.getSeconds();%>
			<div id="post_content306531">
				<h3 class="first">
					<%=post.PostName%>
				</h3>
				<ul class="post-buttons">
					<a href="./posting.php?mode=quote&amp;p=306531" title="Reply with quote" class="button button-icon-only">
						<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
					</a>
				</ul>
				<p class="author">
					<a class="unread" href="./viewtopic.php?p=306531#p306531" title="Post">
					<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
					</a>
					<span class="responsive-hide">bởi <strong><a href="./memberlist.php?mode=viewprofile&amp;u=5646" style="color: #BF00BF;" class="username-coloured"><%=account.Username%></a></strong> &raquo; </span><time>Vào lúc <%=time%> ngày <%=date%></time>
				</p>
				<div class="content"><%=post.PostContent%><br></div>
			</div>
			
		</div>
		  <div class="like-dislike-buttons">
        <button class="like-button" onclick="likePost()">Like</button>
        <button class="dislike-button" onclick="dislikePost()">Dislike</button>
    	</div>
		</div>
		
		<div id="p728756" class="post has-profile bg1" props="accountcomments, post">
			<% accountcomments.forEach(function (accountcomment, index) { %>
				<%var date = accountcomment.CommentID.CmtDate.getDate()+'-'+(accountcomment.CommentID.CmtDate.getMonth()+1)+'-'+accountcomment.CommentID.CmtDate.getFullYear();
				var time = accountcomment.CommentID.CmtDate.getHours() + ":" + accountcomment.CommentID.CmtDate.getMinutes() + ":" + accountcomment.CommentID.CmtDate.getSeconds();%>
			<div class="inner">
			<dl class="postprofile" id="profile728756">
				<dt class="has-profile-rank no-avatar">
					<div class="avatar-container">
						<img src="<%=accountcomment.AccountID.ImageURL%>" alt="Avatar" class="avatar-container"/>
					</div>
					<a href="./memberlist.php?mode=viewprofile&amp;u=19098" class="username"><%=accountcomment.AccountID.Username%></a>
				</dt>
				<dd class="profile-rank">Veteran</dd>			
				<dd class="profile-posts">
					<strong>Posts:</strong>
					<a href="./search.php?author_id=19098&amp;sr=posts">3254</a>
				</dd>
				<dd class="profile-joined">
					<strong>Joined:</strong> Thu Mar 22, 2018 3:02 am
				</dd>		
				<dd class="profile-custom-field profile-phpbb_location">
					<strong>Location:</strong> Washington State, USA
				</dd>						
			</dl>
			<div class="postbody">
				<div id="post_content728756">
					<h3 >
						<a href="./viewtopic.php?p=728756#p728756">Re: <%=post.PostName%></a>
					</h3>
						<ul class="post-buttons">
						</ul>						
						<p class="author">
							<a class="unread" href="./viewtopic.php?p=728756#p728756" title="Post">
								<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true">
								</i>
								<span class="sr-only">Post</span>
							</a>
							<span class="responsive-hide">bởi
								<strong><a href="./memberlist.php?mode=viewprofile&amp;u=19098" class="username"><%=accountcomment.AccountID.Username%></a></strong> &raquo;
							</span>
							<time>Vào lúc <%=time%> ngày <%=date%></time>
						</p>
					<div class="content"><%=accountcomment.CommentID.CmtContent%></div>
				</div>
			</div>
			</div>
			<br>
			<%});%>
		</div>
<div class="reply-container">
	<h2>Phản hồi</h2>
	<form id="comment-form" enctype="multipart/form-data" action="/addcomment" method="get">
	  <fieldset>
		<textarea id="reply-content" name="message" rows="4" cols="50" required></textarea>
		<label for="image-upload">Upload Image:</label>
		<input type="file" id="image-upload" name="image" accept="image/*">

		<!-- Add document upload field -->
		<label for="document-upload">Upload Document:</label>
		<input type="file" id="document-upload" name="document" accept=".pdf, .doc, .docx">
		<button type="submit" onclick="getPost('<%=post._id%>')">Submit Reply</button>
		<input name="postid" value="<%=post._id%>" hidden>
	  </fieldset>
	</form>
  </div>		
</body>

</html>
