
<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Forum học tập</title>



<link href="../styles/elegance/themes/stylesheet.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="./assets/css/font-awesome.min.css?assets_version=41" rel="stylesheet">
<link href="./styles/elegance/theme/stylesheet.css?assets_version=41" rel="stylesheet">
<link href="./assets/cookieconsent/cookieconsent.min.css?assets_version=41" rel="stylesheet">				
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=lymOwHGVHVQPhxOo897DE49OmRZu6x3vNPPBEPs_1SxQoqrzUuJGtjJL75NZDEhSNXTwKaP_KsVNTRvqLvS-UA" charset="UTF-8"></script><style type="text/css">
    .mention {
        color: #008ae6;
    }
</style>


<link href="./ext/paul999/mention/styles/all/theme/mention.css?assets_version=41" rel="stylesheet" media="screen">



</head>
<body id="phpbb" class="nojs notouch section-index ltr " data-online-text="Online">


	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header" class="page-width">
		<div class="headerbar" role="banner">
					<div class="inner">

			<div id="site-description" class="site-description">
				<a id="logo" class="logo" href="/home" title="FreeCAD forum">
					<img src="../styles/elegance/themes/images/uit.jpg" width="120" height="80" data-src-hd="./styles/elegance/theme/images/logo_hd.png" alt="FreeCAD Forum"/>
				</a>
				<p class="sitename">Forum học tấp</p>
				<p>Forum</p>
				<p class="skiplink"><a href="/home">Skip to content</a></p>
			</div>

															<div id="search-box" class="search-box search-header" role="search">
				<form action="./search.php" method="get" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…" />
					<button class="button button-search" type="submit" title="Search">
						<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
					</button>
					<a href="./search" class="button button-search-end" title="Advanced search">
						<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">Advanced search</span>
					</a>
					
				</fieldset>
				</form>
			</div>
									
			</div>
					</div>


				


<div class="navbar tabbed not-static" role="navigation">
	<div class="inner page-width">
		<div class="nav-tabs" data-current-page="index">
			<ul class="leftside">
				<li id="quick-links" class="quick-links tab responsive-menu dropdown-container">
					<a href="#" class="nav-link dropdown-trigger">Quick links</a>
					<div class="dropdown">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul class="dropdown-contents" role="menu">
								
			<li class="separator"></li>
												
							<li class="separator"></li>
							<li>
								<a href="/search" role="menuitem">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i><span>Search</span>
								</a>
							</li>	
	
													</ul>
					</div>
				</li>
												<li class="tab forums selected" data-responsive-class="small-icon icon-forums">
					<a class="nav-link" href="/home">Forums</a>
				</li>
											</ul>
			<ul class="rightside" role="menu">
								<li class="tab faq" data-select-match="faq" data-responsive-class="small-icon icon-faq">
					<a class="nav-link" href="/question" rel="help" title="Frequently Asked Questions" role="menuitem">
						<i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>FAQ</span>
					</a>
				</li>
																									<li class="tab login"  data-skip-responsive="true" data-select-match="login"><a class="nav-link" href="/login" title="Login" accesskey="x" role="menuitem">Login</a></li>
											<li class="tab register" data-skip-responsive="true" data-select-match="register"><a class="nav-link" href="/register" role="menuitem">Register</a></li>
																	</ul>
		</div>
	</div>
</div>

<div class="navbar secondary">
	<ul role="menubar">
											<li class="small-icon icon-search"><a href="/search">Search</a></li>
														<li class="small-icon icon-login"><a href="/login" title="Login">Login</a></li>
									<li class="small-icon icon-register"><a href="/register">Register</a></li>
									
			</ul>
</div>

	</div>

<div id="wrap" class="page-width">

	
	<a id="start_here" class="top-anchor"></a>
	<div id="page-body" class="page-body" role="main">
		<div class="navbar">
	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
				
		
		<li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

			
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="/home" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">Forum</span></a><meta itemprop="position" content="1" /></span>

			
			
		</li>

		
		
			<li class="rightside responsive-search">
				<a href="/search" title="View the advanced search options" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
				</a>
			</li>
	</ul>
</div>
			<div class="forabg category-7 elegant">
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
										<dl class="row-item">
						<dt><div class="list-inner"><a>Hỏi đáp</a></div></dt>
												
					</dl>
									</li>
			</ul>
			<form id="postForm" action="/viewpost" method="get">
				
			<ul class="topiclist forums">	
				<dl class="faq" props="posts">	
				<% if (!posts.length > 0) { %>
					<p>No Post available.</p>
				  <% } else { %>
					<% posts.forEach(function (post, index) { %>
						<% if (!post.PostState) { %>
							<li class="row forum-3">
								<div class="post-id" data-postid="<%= post._id %>">
		
									<dl class="row-item forum_read elegant-row" >
								<dt title="No unread posts">
									<%var date = post.PostDate.getDate()+'-'+(post.PostDate.getMonth()+1)+'-'+post.PostDate.getFullYear();
								var time = post.PostDate.getHours() + ":" + post.PostDate.getMinutes() + ":" + post.PostDate.getSeconds();%>
						<div class="list-inner">
							<a onclick="getPost('<%= post._id %>')" class="forumtitle"><%= post.PostName %></a>
								<div class="forum-description"><%= post.PostContent%></div>
								<div class="forum-statistics">
							<span class="dfn">Lượt trả lời</span>: <span class="value">3</span><span class="comma">, </span>
							<span class="dfn">Được đăng vào ngày</span>: <span class="value"><%= date%></span><span class="dfn"> tại</span>: <span class="value"><%= time%></span>
						</div>					
										<div class="forum-lastpost" style="display: none;">
									</div>
																				</div>
						</dt>
									</dl>
								</div>
							</li>	
						  <% } %>
					<% }); %>
					<% } %>
				</dl>
				</ul>
				<div class="pagination">
					<% if (currentPage > 1) { %>
					  <a href="/home?page=<%= currentPage - 1 %>">Trang trước</a>
					<% } %>
					<span>Trang <%= currentPage %></span>
			</form>
	
			  
				<a href="/home?page=<%= currentPage + 1 %>">Trang sau</a>
			  </div>
			</div>
		</div>
	
				<div class="forabg category-6 elegant" data-hide-description="1">
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
										<dl class="row-item">
						<dt><div class="list-inner"><a href="./viewforum.php?f=6" data-id="6">Tài liệu học tập</a></div></dt>
												
					</dl>
									</li>
			</ul>
			<ul class="topiclist forums">
				<li class="row forum-10">
									<dl class="row-item forum_read elegant-row">
				<dt title="No unread posts">
										<div class="list-inner">
									<a href="/viewdocumentnolog" class="forumtitle" data-id="10">Tài liệu</a>
						<div class="forum-description">Nơi lưu trữ tài liệu học tập</div>													<div class="forum-statistics">
					
				</div>

																		</div>
				</dt>
							</dl>
					</li>
			
	
	
			
				
			
	
				</ul>

			</div>
		</div>
	
				<div class="forabg category-11 elegant" data-hide-description="1">
			

					<form method="post" action="login" class="headerspace">
						<h3><a href="./ucp.php?mode=login&amp;redirect=index.php">Login</a>&nbsp; &bull; &nbsp;<a href="/register">Register</a></h3>
							<fieldset class="quick-login">
								<label for="username"><span>Username:</span> <input type="text" tabindex="1" name="username" id="username" size="10" class="inputbox" title="Username" /></label>
								<label for="password"><span>Password:</span> <input type="password" tabindex="2" name="password" id="password" size="10" class="inputbox" title="Password" autocomplete="off" /></label>
												<a href="/app.php/user/forgot_password">I forgot my password</a>
												<span class="responsive-hide">|</span> <label for="autologin">Remember me <input type="checkbox" tabindex="4" name="autologin" id="autologin" /></label>
											<input type="submit" tabindex="5" name="login" value="Login" class="button2" />
							</fieldset>
						</form>
<script src="./assets/javascript/jquery-3.6.0.min.js?assets_version=41"></script>
<script src="./assets/javascript/core.js?assets_version=41"></script>
<script src="./styles/elegance/template/forum_fn.js?assets_version=41"></script>
<script src="./styles/elegance/template/ajax.js?assets_version=41"></script>


<script>
	function getPost(postId) {
	   console.log('Clicked post ID:', postId);
	   var form = document.createElement('form');
	   form.method = 'GET';
	   form.action = '/viewpost';
 
	   var hiddenPostIdInput = document.createElement("input");
	   hiddenPostIdInput.type = "hidden";
	   hiddenPostIdInput.name = "postid";
	   hiddenPostIdInput.value = postId;
 
	   form.appendChild(hiddenPostIdInput);
 
	   document.body.appendChild(form);
	   form.submit();
	}
 </script>
</body>
</html>
