
<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>FreeCAD Forum - Frequently Asked Questions</title>
<link rel="alternate" type="application/atom+xml" title="Feed - FreeCAD Forum" href="/app.php/feed">		<link rel="alternate" type="application/atom+xml" title="Feed - All forums" href="/app.php/feed/forums">					
<link href="../assets/css/font-awesome.min.css" rel="stylesheet">
<link href="../assets/css/cookiesconsent/cookieconsent.min.css" rel="stylesheet">
<link href="../styles/elegance/themes/stylesheet.css" rel="stylesheet">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=Exk52SMTPBk9K5BtgLJnaux00TSPkS1WWGyMPRqyyaWl6BcGLHx8q4L6bm4gQQfHXcreFzj-XE3fhQSTZXIkCCLxpMPNwyCe1iYLkIfxCxal4EmEFdCu9VecWJ4M02R4rzs5oApi_GQgI9i75t7u8w" charset="UTF-8"></script><style type="text/css">
     .mention {
        color: #008ae6;
    }
	.navbar ul.rightside a {
    color: #ffffff;
    padding: 10px; 
}
    @media (max-width: 767px) {
        .responsive-hide {
            display: inline-block;
        }
		
    }
</style>


<link href="./../../ext/paul999/mention/styles/all/theme/mention.css?assets_version=41" rel="stylesheet" media="screen">



</head>
<body id="phpbb" class="nojs notouch section-index ltr " data-online-text="Online">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header" class="page-width">
		<div class="headerbar" role="banner">
					<div class="inner">
			<div id="site-description" class="site-description">
				<a id="logo" class="logo" href="./index.php" title="Ứng dụng trao đổi kinh nghiệm học tập">
					<img src="../styles/elegance/themes/images/uit.jpg" width="150" height="80"/>
				</a>
				<p class="sitename">Ứng dụng trao đổi kinh nghệm học tập</p>
				<p>Ứng dụng trao đổi kinh nghệm học tập</p>
				<p class="skiplink"><a href="#start_here">Bỏ qua</a></p>
			</div>
				    <div id="search-box" class="search-box search-header" role="search">
				<form action="./search.php" method="get" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…" />
					<button class="button button-search" type="submit" title="Search">
						<i class="icon">
						  <img src="../styles/elegance/themes/images/search-icon.png" alt="Search Icon">
						</i><span class="sr-only">Search</span>
					  </button>
					  <a href="./search.php" class="button button-search-end" title="Advanced search">
						<i class="icon">
						  <img src="../styles/elegance/themes/images/ava-search.png" alt="Cog Icon">
						</i><span class="sr-only">Advanced search</span>
					  </a>
							  
				</fieldset>
				</form>
			</div>							
			</div>
					</div>
<div class="navbar tabbed not-static" role="navigation">
	<div class="inner page-width">
		<div class="nav-tabs" data-current-page="index">
			<ul class="leftside">
				<li id="quick-links" class="quick-links tab responsive-menu dropdown-container">
					
					
				</ul>
			<ul class="rightside" >	
			</ul>
		</div>
	</div>
</div>

	<div class="navbar secondary">
		<ul role="menubar">
			<li><a href="/search">Search</a></li>
			<li><a href="/login" title="Login">Login</a></li>
			<li><a href="/register">Register</a></li>
			<li class="tab login"  data-skip-responsive="true" data-select-match="login"><a class="nav-link" href="/question" title="question" accesskey="x" role="menuitem">FAQs</a></li>
			<li class="tab register" data-skip-responsive="true" data-select-match="register"><a class="nav-link" href="/addFAQs" role="menuitem">Add FAQ</a></li>			
				</ul>
	</div>

		</div>

<div id="wrap" class="page-width">

	
	<a id="start_here" class="top-anchor"></a>
	<div id="page-body" class="page-body" role="main">
		<div class="navbar">
	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
				
		
		<li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

			
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="./../../index.php" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">FreeCAD forum</span></a><meta itemprop="position" content="1" /></span>

									
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="/app.php/help/faq"><span itemprop="name">Frequently Asked Questions</span></a><meta itemprop="position" content="2" /></span>
						
			
		</li>

		
		
			<li class="rightside responsive-search">
				<a href="./../../search.php" title="View the advanced search options" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
				</a>
			</li>
				<li class="rightside dropdown-container icon-only">
			<a href="#" class="dropdown-trigger time" title="It is currently Wed Dec 20, 2023 4:58 pm"><i class="fa fa-clock-o"></i></a>
			<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
					<li>It is currently Wed Dec 20, 2023 4:58 pm</li>
					<li>All times are <span title="UTC">UTC</span></li>
				</ul>
			</div>
		</li>
	</ul>
</div>

		
		
<h2 class="faq-title">Frequently Asked Questions</h2>


<div class="panel bg1" id="faqlinks">
	<div class="inner">
		<div class="column1">					
			<dl class="faq" props="faqs">
        <dt><strong>Câu hỏi về tài khoản</strong></dt>
        <% if (!faqs.length > 0) { %>
          <p>No FAQs available.</p>
        <% } else { %>
          <% faqs.forEach(function (faq, index) { %>
   
            <dd><a href="#f<%= index %>"><%= faq.Question %></a></dd>
          <% }); %>
        <% } %>
      </dl>
					

									</div>

				<div class="column2">
				</div>
	</div>
</div>
	<div class="panel bg2">
		<div class="inner">
			<div class="content">
				<h2 class="faq-title">Câu hỏi về tài khoản</h2>
				<% faqs.forEach(function (faq, index) { %>
				<dt id="f<%= index %>"><strong><%= faq.Question %></strong></dt>
				<dd><%= faq.Answer %></dd>
				  <dl class="faq">
					
					<a href="#faqlinks" class="top">
					  <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span>Back To Question</span>
					</a>
					<hr class="dashed" />
				  </dl>
				<% }); %>
			  </div>

		</div>
	</div>
			</div>
</div>

<div id="page-footer" class="page-width" role="contentinfo">
	
	<div class="copyright">
				<p class="footer-row">
			<span class="footer-copyright">Powered by <a href="https://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Limited</span>
		</p>
		<p class="footer-row">
			<span class="footer-copyright">Style by <a href="https://www.artodia.com/">Arty</a> - phpBB 3.3 by MrGaby</span>
		</p>
						<p class="footer-row" role="menu">
			<a class="footer-link" href="./../../ucp.php?mode=privacy" title="Privacy" role="menuitem">
				<span class="footer-link-text">Privacy</span>
			</a>
			|
			<a class="footer-link" href="./../../ucp.php?mode=terms" title="Terms" role="menuitem">
				<span class="footer-link-text">Terms</span>
			</a>
		</p>
					</div>

	<div id="darkenwrapper" class="darkenwrapper" data-ajax-error-title="AJAX error" data-ajax-error-text="Something went wrong when processing your request." data-ajax-error-text-abort="User aborted request." data-ajax-error-text-timeout="Your request timed out; please try again." data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply.">
		<div id="darken" class="darken">&nbsp;</div>
	</div>

	<div id="phpbb_alert" class="phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
		<a href="#" class="alert_close">
		</a>
		<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
	</div>
	<div id="phpbb_confirm" class="phpbb_alert">
		<a href="#" class="alert_close">
		</a>
		<div class="alert_text"></div>
	</div>
</div>


<div>
	<a id="bottom" class="top-anchor" accesskey="z"></a>
	</div>

<script src="./../../assets/javascript/jquery-3.6.0.min.js?assets_version=41"></script>
<script src="./../../assets/javascript/core.js?assets_version=41"></script>

	<script src="./../../assets/cookieconsent/cookieconsent.min.js?assets_version=41"></script>
	<script>
	if (typeof window.cookieconsent === "object") {
		window.addEventListener("load", function(){
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#0F538A"
					},
					"button": {
						"background": "#E5E5E5"
					}
				},
				"theme": "classic",
				"content": {
					"message": "This\u0020website\u0020uses\u0020cookies\u0020to\u0020ensure\u0020you\u0020get\u0020the\u0020best\u0020experience\u0020on\u0020our\u0020website.",
					"dismiss": "Got\u0020it\u0021",
					"link": "Learn\u0020more",
                    "href": "./../../ucp.php?mode=privacy"
                }
            });
        });
    }
	</script>


<script src="./../../styles/elegance/template/forum_fn.js?assets_version=41"></script>
<script src="./../../styles/elegance/template/ajax.js?assets_version=41"></script>



</body>
</html>
