
<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Forum</title>



<link href="../styles/elegance/themes/stylesheet.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="./assets/css/font-awesome.min.css?assets_version=41" rel="stylesheet">
<link href="./styles/elegance/theme/stylesheet.css?assets_version=41" rel="stylesheet">
<link href="./assets/cookieconsent/cookieconsent.min.css?assets_version=41" rel="stylesheet">				
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=lymOwHGVHVQPhxOo897DE49OmRZu6x3vNPPBEPs_1SxQoqrzUuJGtjJL75NZDEhSNXTwKaP_KsVNTRvqLvS-UA" charset="UTF-8"></script><style type="text/css">
    .mention {
        color: #008ae6;
    }
</style>


<link href="./ext/paul999/mention/styles/all/theme/mention.css?assets_version=41" rel="stylesheet" media="screen">



</head>
<body id="phpbb" class="nojs notouch section-index ltr " data-online-text="Online">


	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header" class="page-width">
		<div class="headerbar" role="banner">
					<div class="inner">

			<div id="site-description" class="site-description">
				<a id="logo" class="logo" href="/userhome" title="forum">
					<img src="../styles/elegance/themes/images/uit.jpg" width="150" height="80"/>
				</a>
				<p class="sitename">Forum</p>
				<p>forum </p>
				<p class="skiplink"><a href="/userhome">Skip to content</a></p>
			</div>

															<div id="search-box" class="search-box search-header" role="search">
				<form action="/search" method="get" id="search">
				<fieldset>
					<input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…" />
					<button class="button button-search" type="submit" title="Search">
						<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
					</button>
					<a href="/search" class="button button-search-end" title="Advanced search">
						<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">Advanced search</span>
					</a>
					
				</fieldset>
				</form>
			</div>
									
			</div>
					</div>


				


<div class="navbar tabbed not-static" role="navigation">
	<div class="inner page-width">
		<div class="nav-tabs" data-current-page="index">
			<ul class="leftside">
				<li id="quick-links" class="quick-links tab responsive-menu dropdown-container">
					<a href="#" class="nav-link dropdown-trigger">Quick links</a>
					<div class="dropdown">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul class="dropdown-contents" role="menu">
								
			<li class="separator"></li>
													<li>
								<a href="/viewprofile" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>Your Profile</span>
								</a>
								<a href="/changeprofile" role="menuitem">
									<i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>Update Profile</span>
								</a>
							</li>

							<li class="separator"></li>
							<li>
								<a href="/search" role="menuitem">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i><span>Search</span>
								</a>
							</li>	
	
													</ul>
					</div>
				</li>
												<li class="tab forums selected" data-responsive-class="small-icon icon-forums">
					<a class="nav-link" href="/userhome">Forums</a>
				</li>
											</ul>
			<ul class="rightside" role="menu">
								<li class="tab faq" data-select-match="faq" data-responsive-class="small-icon icon-faq">
					<a class="nav-link" href="/question" rel="help" title="Frequently Asked Questions" role="menuitem">
						<i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>FAQ</span>
					</a>
				</li>
				
																	</ul>
		</div>
	</div>
</div>

<div class="navbar secondary">
	<ul role="menubar">

									
			</ul>
</div>

	</div>

<div id="wrap" class="page-width">

	
	<a id="start_here" class="top-anchor"></a>
	<div id="page-body" class="page-body" role="main">
		<div class="navbar">
	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
				
		
		<li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

			
						<span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="/userhome" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">Forum</span></a><meta itemprop="position" content="1" /></span>

			
			
		</li>

		
		
			<li class="rightside responsive-search">
				<a href="/search" title="View the advanced search options" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
				</a>
			</li>
	</ul>
</div>
		
		
<h2 class="faq-title">Các câu hỏi thường gặp</h2>


<div class="panel bg1" id="faqlinks">
	<div class="inner">
		<div class="column1">					
			<dl class="faq" props="faqs">
        <% if (!faqs.length > 0) { %>
          <p>No FAQs available.</p>
        <% } else { %>
          <% faqs.forEach(function (faq, index) { %>
   
            <dd><a href="#f<%= index %>"><%= faq.Question %></a></dd>
          <% }); %>
        <% } %>
      </dl>
					

									</div>

				<div class="column2">
				</div>
	</div>
</div>
	<div class="panel bg2">
		<div class="inner">
			<div class="content">
				<% faqs.forEach(function (faq, index) { %>
				<dt id="f<%= index %>"><strong><%= faq.Question %></strong></dt>
				<dd><%= faq.Answer %></dd>
				  <dl class="faq">
					
					<a href="#faqlinks" class="top">
					  <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span>Câu hỏi</span>
					</a>
					<hr class="dashed" />
				  </dl>
				<% }); %>
			  </div>

		</div>
	</div>
			</div>
</div>
<div>
	<a id="bottom" class="top-anchor" accesskey="z"></a>
	</div>

<script src="./../../assets/javascript/jquery-3.6.0.min.js?assets_version=41"></script>
<script src="./../../assets/javascript/core.js?assets_version=41"></script>

	<script src="./../../assets/cookieconsent/cookieconsent.min.js?assets_version=41"></script>
	<script>
	if (typeof window.cookieconsent === "object") {
		window.addEventListener("load", function(){
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#0F538A"
					},
					"button": {
						"background": "#E5E5E5"
					}
				},
				"theme": "classic",
				"content": {
					"message": "This\u0020website\u0020uses\u0020cookies\u0020to\u0020ensure\u0020you\u0020get\u0020the\u0020best\u0020experience\u0020on\u0020our\u0020website.",
					"dismiss": "Got\u0020it\u0021",
					"link": "Learn\u0020more",
                    "href": "./../../ucp.php?mode=privacy"
                }
            });
        });
    }
	</script>


<script src="./../../styles/elegance/template/forum_fn.js?assets_version=41"></script>
<script src="./../../styles/elegance/template/ajax.js?assets_version=41"></script>



</body>
</html>
